/* 
Main Colours: #22b8cf
secondary color: #e54624
 */
:root {
  --main-color: #22b8cf;
  --secondary-color: #e54624;

  --main-color--darker: #0a373e;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: #e9e9e9;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--secondary-color);
  letter-spacing: 0.75px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 4.8rem;
}
