html {
  font-size: 62.5%;
}

.header {
  /* padding: 2.4rem 0; */
  background-color: #fff;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.8rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  justify-content: center;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--main-color);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  transition: color 0.3s;
}

.section-result {
  margin: 4.8rem 0;
}

.section-result .container {
  background-color: #fff;
  padding: 2.4rem;
  border-radius: 2rem;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.03);
}

.match-result {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--secondary-color);
  letter-spacing: 0.75px;
  text-transform: uppercase;
  align-self: center;
  justify-self: center;
  /* margin-bottom: 4.8rem; */
}

.match-teams {
  font-size: 3rem;
  font-weight: 700;
}

.match-info {
  font-size: 1.8rem;
  color: #666;
  margin-bottom: 2.4rem;
}

.matches-status--live {
  background-color: var(--secondary-color);
  color: #fff;
  padding: 0.7rem 1.2rem;
  border-radius: 10rem;
  margin-right: 1rem;
}

.matches-league--link:link,
.matches-league--link:visited {
  font-size: 1.8rem;
  font-weight: 600;
  color: inherit;
  border-bottom: 1px solid #666;
  text-decoration: none;
  transition: color 0.3s;
}

.matches-league--link:hover,
.matches-league--link:active {
  color: var(--main-color);
  border-bottom: none;
}

.matches {
  display: flex;
  gap: 12.8rem;
  background-color: #f1f3f5;
  border-radius: 2rem;
  padding-bottom: 4.8rem;
}

.matches-scores {
  padding: 2.4rem 0;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.matches--team1-img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  margin-left: 1.6rem;
  margin-right: 1.6rem;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.17);
}

.matches--team1 {
  font-size: 2.4rem;
  font-weight: 700;
  margin-right: 3rem;
}

.matches--team1-total {
  font-size: 2rem;
  font-weight: 600;
  /* margin-right: 1.6rem; */
}

.matches--team1-overs {
  /* font-size: 1.7rem; */
  color: #666;
  font-weight: 700;
}

.matches--team1--score {
  display: flex;

  gap: 2.4rem;
  align-items: center;
  /* justify-content: center; */
}

.matches--team2-img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  margin-left: 1.6rem;
  margin-right: 1.6rem;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.17);
}

.matches--team2 {
  font-size: 2.4rem;
  font-weight: 700;
  margin-right: 3rem;
}

.matches--team2-total {
  font-size: 2rem;
  font-weight: 600;
  /* margin-right: 1.6rem; */
}

.matches--team2-overs {
  font-size: 1.7rem;
  color: #666;
  font-weight: 700;
}

.matches--team2--score {
  display: flex;
  gap: 2.4rem;
  align-items: center;
  /* justify-content: center; */
}

.matches--summary {
  margin-top: 1.8rem;
  margin-left: 1.8rem;
  font-size: 2rem;
  font-weight: 700;
  color: var(--secondary-color);
}

.matches--last-6balls {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  /* justify-content: center; */
  margin-left: 2.4rem;
  font-size: 2rem;
  margin-top: 1.6rem;
}

.matches--last-6balls span,
.commentary-item--runs,
.summary-text span {
  font-weight: 600;
  color: #666;
  /* background-color: red; */
  border-radius: 50%;
  width: 4rem; /* Set the width to desired size */
  height: 4rem; /* Set the height to desired size */
  display: flex;
  justify-content: center;
  align-items: center;
}

.matches--wicket {
  background-color: #e64980;
  color: #fff !important;
}

.matches--dot {
  background-color: #bebebe;
  color: #fff !important;
}

.matches--four {
  background-color: #5cb85c;
  color: #fff !important;
}

.matches--wide {
  background-color: #f0ad4e;
  color: #fff !important;
}

.matches--six {
  background-color: #7a41d8;
  color: #fff !important;
}

.matches--no-ball {
  background-color: #f0ad4e;
  color: #fff !important;
}

.matches--byes {
  background-color: #66d9e8;
  color: #fff !important;
}

.matches--leg-byes {
  background-color: #66d9e8;
  color: #fff !important;
}

.matches--single {
  background-color: #bebebe;
  color: #fff !important;
}

.matches--double {
  background-color: #bebebe;
  color: #fff !important;
}

.matches--triple {
  background-color: #f0ac4ea9;
  color: #fff !important;
}

.matches--slash {
  background-color: transparent;
  color: #bebebe !important;
  width: 2rem !important;
}

.match--detail {
  font-size: 1.8rem;
  color: #777;
  padding: 1.2rem 2.4rem;
  border-radius: 1.2rem;
  display: block;
  align-self: center;
  justify-self: center;
  /* box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07); */
}

.btn {
  font-weight: 600;
  text-decoration: none;
  border: none;
  font-size: 1.8rem;
  /* color: #555; */
  color: #777;
  transition: all 0.3s;
  padding: 1.6rem 1.8rem;
  border-radius: 1.7rem;
  transition: all 0.3s;
  background-color: #fff;
  cursor: pointer;
}

.operations {
  max-width: 200rem;
  /* margin: 12rem auto 0 auto; */

  /* background-color: #f3f3f3; */
}

.operations__tab-container {
  display: flex;
  gap: 2.4rem;
  background-color: #ffffff;
  /* padding: 1.6rem 0; */
  border-radius: 3rem;
  /* box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07); */
  /* transform: translate(-50%, -120%); */
  /* opacity: 0;
  visibility: hidden; */
  transition: all 0.3s;
  justify-content: center;
  z-index: 999;
}

.operations__tab--active {
  background-color: #e9ecef;
}

/* .operations__tab {
  margin-right: 2.5rem;
  transform: translateY(-50%);
} */

.operations__tab span {
  margin-right: 1rem;
  font-weight: 600;
  display: inline-block;
}

.operations__content {
  display: none;

  /* JUST PRESENTATIONAL */
  font-size: 1.7rem;
  padding-top: 2.5rem;
}

.operations__content--active {
  display: block;
}

.live--title {
  font-size: 2rem;
  font-weight: 600;
  margin-left: 7rem;
}

/* ////////////////////////////////// */
/* Live section */

table {
  margin-top: 1.2rem;
  border-spacing: 0;
  border-collapse: collapse;
  border-radius: 1rem;
  overflow: hidden;
}

thead {
  background-color: var(--main-color);
  color: #fff;
}

.bowler--live {
  background-color: var(--secondary-color);
}

th {
  text-align: start;
}

th,
td {
  padding: 1.2rem 2.4rem;
  font-size: 1.8rem;
}

tbody tr:nth-child(even) {
  background-color: #e9ecef;
}

.live--bowling {
  justify-self: center;
}

.live--bat-name {
  font-weight: 600;
  color: var(--main-color);
}

.live--bowler-name {
  font-weight: 600;
  color: var(--secondary-color);
}

.over--summary {
  margin-top: 2.4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.summary-text {
  display: flex;
  gap: 1.6rem;
}

.over--desc {
  font-size: 1.8rem;
  font-weight: 600;
  color: #666;
  display: inline;
}

/* Commentary section */

.commentary--wicket {
  color: #e64980;
  /* color: #fff !important; */
}

.commentary--dot {
  color: #777;
  /* color: #fff !important; */
}

.commentary--single {
  color: #777;
  /* color: #fff !important; */
}

.commentary--double {
  color: #777;
  /* color: #fff !important; */
}

.commentary--triple {
  color: #f0ac4ea9;
  /* color: #fff !important; */
}

.commentary--four {
  color: #5cb85c;
  /* color: #fff !important; */
}

.commentary--wide {
  color: #f0ad4e;
  /* color: #fff !important; */
}

.commentary--no-ball {
  color: #f0ad4e;
  /* color: #fff !important; */
}

.commentary--byes {
  color: #089bae;
  /* color: #fff !important; */
}

.commentary--leg-byes {
  color: #089bae;
  /* color: #fff !important; */
}

.commentary--six {
  color: #7a41d8;
  /* color: #fff !important; */
}

.matches--hidden {
  display: none;
}

.commentary-item {
  display: flex;
  gap: 4.8rem;
  margin-right: 2.4rem;
  background-color: #f1f3f5;
  padding: 1.6rem 2.4rem;
  border-radius: 1.2rem;
  margin-bottom: 1.6rem;
  /* box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07); */
  align-items: center;
  /* justify-content: center; */
}

.commentary-item--overs {
  font-size: 1.8rem;
  font-weight: 600;
  color: #666;
  align-self: center;
  justify-self: center;
}

.commentary-item--balls {
  display: flex;
  gap: 1.2rem;
}

.commentary-item--info {
  font-size: 1.8rem;
  font-weight: 600;

  align-self: center;
  justify-self: center;
}

.commentary-item--over {
  background-color: #e7f0ff;
  margin-bottom: 1.2rem;
}

.over--heading-item {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 2.4rem; */
}

.over {
  display: flex;
  flex-direction: column;
  /* font-size: 2rem; */
  font-weight: 600;
  /* color: var(--main-color); */
  padding: 1.8rem;
  border-right: 2px solid #fff;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  font-size: 2rem;
}

.over-heading {
  border-left: 2px solid #fff;
}

.over--sm {
  font-size: 1.8rem;
}

/* .over:nth-child(even) {
  color: #da77f2;
}

.over:nth-child(odd) {
  color: #3bc9db;
} */

.over.batsmen--score span {
  font-size: inherit;
}

.table--score {
  margin-bottom: 5.4rem;
}

.table--score:nth-of-type(even) thead {
  background-color: #da77f2;
}

.table--score:nth-of-type(even) .live--bat-name {
  color: #da77f2;
}

.live--bat-desc {
  font-size: 1.8rem;
  font-weight: 800;
  color: #000;
  margin-top: 1.2rem;
}

/* .over-heading {
  color: var(--main-color);
}

.bat-over {
  color: var(--secondary-color);
} */

/* Screcard section */

.operations__header {
  font-size: 3rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 2.4rem;
}

.operations__header.squad {
  transform: translate(-10%);
}
.yet-to-bat {
  margin-top: 2.4rem;
  color: #777;
  font-weight: 600;
}

.yet-to-batsmen {
  margin-top: 2.4rem;
  font-weight: 700;
  color: var(--main-color);
}
