/* For laptops 1200px */
@media (max-width: 75em) {
  th,
  td {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
  }
  .over {
    font-size: 1.5rem;
  }

  .over--sm {
    font-size: 1.6rem;
  }

  .matches {
    display: block;
  }
}

/* For small laptops: 1072px  */
@media (max-width: 67em) {
  .match-info {
    font-size: 1.6rem;

    margin: 2.4rem 0;
  }
  .matches--summary {
    margin-top: 3rem;
  }

  .operations {
    margin-top: 4.8rem;
  }

  .matches-status--live {
    padding: 0.5rem 1rem;
    margin-right: 0.8rem;
  }

  .over {
    padding: 1rem;
  }

  .grid {
    gap: 2.4rem;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 9999;
    margin-right: 2rem;
  }
  .header {
    display: flex;
    justify-content: space-between;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name='close-outline'] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name='menu-outline'] {
    display: none;
  }

  .close-btn {
    display: none;
  }

  .nav-links {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}

/* FOr large tablets: 896px */
@media (max-width: 56em) {
  .over {
    padding: 0.6rem;
    /* border-bottom: 2px solid #fff; */
  }

  .over--heading-item {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2.4rem;
  }

  .grid--2-cols {
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
  }

  th,
  td {
    /* padding: 1.2rem 2.4rem; */
    font-size: 1.8rem;
  }

  .matches--last-6balls {
    font-size: 1.8rem;
  }

  .matches--last-6balls span {
    width: 3.5rem;
    height: 3.5rem;
  }
}

@media (max-width: 48em) {
  th,
  td {
    /* padding: 1rem 1.5rem; */
    font-size: 1.6rem;
  }

  .live--bat-desc {
    font-size: 1.5rem;
  }

  .matches--last-6balls {
    margin-top: 5.4rem;
    /* grid-template-columns: repeat(auto-fill, minmax(auto, 1fr)); */

    grid-template-columns: repeat(7, 4.2rem);
  }
}
